body {
    background-color: #2ca2ca;
    font-family: "Montserrat", sans-serif;
  }
  .login-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    width: 70%;
  
    background-color: rgba(17, 94, 120, 0.495);
    padding: 10px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  }
  .lb-logo {
    margin: 30px auto;
  }
  .lb-logo img {
    width: 150px;
  }
  
  .separador {
    border-bottom: 1px solid rgb(18, 18, 18);
    margin-bottom: -10px;
  }
  
  .lb-header {
    display: flex;
    justify-content: center;
    color: #00415d;
  
    padding-bottom: 10px;
  }
  .lb-header a {
   width: 35%;
    padding: 20px 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
  
    font-size: 12px;
  }
  .lb-header .active {
    background: #257196;
    border: 0.5px solid #1c1c1c;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 7px;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .social-login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
  }
  .social-login a {
    
    
    width: calc(30% - 4px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align: center;
  }
  .social-login a i {
    
    
    width: 55px;
    top: 2px;
  }
  .social-login a:first-child {
    background-color: #49639f;
  }
  .social-login a:last-child {
    background-color: #df4a32;
  }
  .form-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .lb-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
    width:60%;
  }
  .lb-form input {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 10px;
    background: #f6f6f6;
    border: 0px;
  }
  .lb-form input:focus {
    border-color: #358efb;
  }
  
  .btn-registro {
    margin: 20px auto;
    width: 250px;
    padding: 20px;
    color: #fff;
    font-size: 1em;
    background: #567ee4;
    border: 1px solid #114bdf;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .btn-registro a {
    text-decoration: none;
    color: #fff;
  }
  
  .errores {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
  
  }
  
  .errores ul {
    background-color: #ff0707b9;
    padding: 30px;
    border-radius: 15px;
    list-style: none;
    line-height: 1.5;
    color: #f6f6f6;
  }