/* MAIN */
.contenedor{
    font-family: "Montserrat", sans-serif;
	display: flex;
    display: grid;
    grid-template-rows:  55% 20% 30%;
    grid-template-columns: 100%;
    align-items: center;
    grid-template-areas: "primerColumna"
                         "segundaColumna"
                         "tercerColumna";
}

.primerColumna{
    grid-area: primerColumna;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
}
.imagenProducto{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.producto{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 3%;
}
.botonConsultar{
    display: block;
    text-align: center;
    background-color: rgb(87, 126, 229);
    color: rgb(232, 238, 251);
    text-decoration: none;
    width: 100%;
    border-radius: 7px;
    padding: 2vh;
    margin: 5vh 0px;
    box-sizing: border-box;
    font-size: 1.2em;
    transition-duration: 0.25s;
}
.botonConsultar:hover{
    transform: translateY(5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.h2PrimerColumna{
    font-size: 1.5em;
}
.descripcionPrimerColumna{
    font-size: 1em;
}
.ulPrimerColumna{
    font-size: 0.9em;
}

.segundaColumna{
    grid-area: segundaColumna;
    width: 100%;
    padding: 10px;
    font-size: 1em;
}
.NS{
    color: rgb(156, 156, 156);
    margin:7px;
    font-size: 0.9em;
}
.h2subrayado{
    border-bottom: 3px solid grey;
    margin: 5px 0px 20px 0px;
    font-size: 1.75em;
}
.descuento{
    color: green;
    font-size: 1.5em;
    margin: 10px 20px;
}
.precio{
    font-size: 2em;
    margin: 10px 20px;
}
.ulSegundaColumna{
    font-size: 0.9em;
}

.tercerColumna{
    grid-area: tercerColumna;
    width: 100%;
    padding: 10px 5px 30px 10px;
    border-top: 3px solid grey;
    font-size: 1em;
}
.tarjetasYtiempo{
    display: flex;
    flex-wrap: wrap;
}
.imgTercerColumna{
    color: blue;
    font-size: 1.5em;
}
.letrasAzules{
    color: blue;
    font-size: 0.8em;
    padding: 0px 3%;
}
.botonAgregar{
    font-size: 1em;
    display: block;
    text-align: center;
    background-color: rgb(82, 82, 82);
    color: rgb(177, 177, 177);
    text-decoration: none;
    width: 80%;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
    opacity: 0.6;
    border: grey;
}
.botonAgregar:focus{
    opacity: 1;
}

.letrasNegras{
    font-size: 0.8em;
    font-weight: bold;
}
.cant{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.cantidad{
    font-size: 1em;
    font-weight: bold;
    float: left;
}
.inputNumber{
    float:right;
    width: 30px;
    height: 1em;
    border-radius: 3px;
}
.botonComprar{
    display: block;
    text-align: center;
    background-color: rgb(87, 126, 229);
    color: rgb(232, 238, 251);
    text-decoration: none;
    width: 90%;
    border-radius: 7px;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px auto;
    font-size: 1em;
    transition-duration: 0.25s;
}
.botonComprar:hover{
    transform: translateY(5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}



@media(min-width:768px){
     /* MAIN */
.contenedor{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    display: grid;
    grid-template-rows:  70% 30%;
    grid-template-columns: 60% 40%;
    align-items: flex-start;
    grid-template-areas: "primerColumna tercerColumna"
                         "segundaColumna segundaColumna";
}
.primerColumna{
    grid-area: primerColumna;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    border-right: 3px solid grey;
}
.segundaColumna{
    grid-area: segundaColumna;
    width: 100%;
    padding: 10px;
    font-size: 1em;
}
.tercerColumna{
    grid-area: tercerColumna;
    width: 100%;
    padding: 10px 5px 30px 10px;
    font-size: 1em;
    border: none;
}
}

@media(min-width:992px){
        /* MAIN */
.contenedor{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 70% 30%;
    align-items: flex-start;
    grid-template-areas: "primerColumna segundaColumna"
                         "primerColumna tercerColumna";
}
.primerColumna{
    grid-area: primerColumna;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid grey;
}
.imagenProducto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto{
    width: 70%;
    height: 50vh;
    object-fit: cover;
    border-radius: 3%;
}
.botonConsultar{
    display: block;
    text-align: center;
    background-color: rgb(87, 126, 229);
    color: rgb(232, 238, 251);
    text-decoration: none;
    width: 70%;
    border-radius: 7px;
    padding: 2vh;
    margin: 5vh auto;
    box-sizing: border-box;
    font-size: 1.2em;
    transition-duration: 0.25s;
}
.segundaColumna{
    padding: 10px 5px 30px 10px;
    margin: 0px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.tercerColumna{
    grid-area: tercerColumna;
}

}




