<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="/css/styleProductoMF.css">
    <link rel="stylesheet" href="/css/header.css">
    <link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
            >
	<title>Home</title>
</head>

<body>
    <div> <!-- Contenedor ppal -->
<!-- ENCABEZADO -->
<%- include('partials/header.ejs')%>
<!-- ENCABEZADO -->

        <main class="contenedor">
            <!-- PRIMER COLUMNA -->
            <div class="primerColumna">
            <!-- imagenes -->
            <div class="imagenProducto">
            <img class="producto" src="/images/img2.jpg">
            </div>
            <!-- imagenes -->

            <!-- descripcion detallada del producto -->
            <a href="" class="botonConsultar">CONSULTAR</a>

            <h2 class="h2PrimerColumna"><strong>Descripción detallada del Producto: </strong></h2>

            <p class="descripcionPrimerColumna">Descripción detallada del Producto</p>
            <ul class="ulPrimerColumna">
                <li>Especificaciones del Producto.</li>
                <li>Unidades de Medida.</li>
                <li>Dimensiones.</li>
                <li>Cantidades de la Unidad de Medida en Cuestión.</li>
                <li>Especificaciones Técnicas.</li>
                <li>Otras Especificaciones.</li>
            </ul>
            </div>
            <!-- descripcion detallada del producto -->
            <!-- PRIMER COLUMNA -->

            <!-- SEGUNDA COLUMNA -->
            <div class="segundaColumna">
                <div class="segunda">
                <p class="NS">NUEVO/USADO</p>
                <h2 class="h2subrayado"><strong>Descripción del Producto </strong></h2>
                <!-- estrellas -->
                <!-- estrellas -->
                <p class="precio">$PRECIO</p>
                <ul class="ulSegundaColumna">
                    <li>Especificaciones del Producto.</li>
                    <li>Unidades de Medida.</li>
                    <li>Dimensiones.</li>
                    <li>Cantidades de la Unidad de Medida en Cuestión.</li>
                    <li>Especificaciones Técnicas.</li>
                    <li>Otras Especificaciones.</li>
                </ul>
                </div>
            </div>
            <!-- SEGUNDA COLUMNA -->

            <!-- TERCER COLUMNA -->
            <div class="tercerColumna">
                <!-- imagenes de las tarjetas -->
                <div class="tarjetasYtiempo">
                    <i class="far fa-credit-card imgTercerColumna"></i>
                    <p class="letrasAzules">HASTA EN 18 CUOTAS</p>
                </div>
                <!-- imagenes de las tarjetas -->
                <!-- imagenes del camion -->
                <div class="tarjetasYtiempo">
                <i class="fas fa-truck imgTercerColumna"></i>
                <p class="letrasAzules">LLEGARA EN 1 DIA</p>
                </div>
                <!-- imagenes del camion -->
                
                <p class="letrasAzules">SERA ENVIADO A LOCALIDAD</p>
                <a href="" class="botonAgregar">+ Agregar a la lista</a>
                <p class="letrasNegras">Vendido por: <a href="">Nombre del vendedor</a></p>
                <p class="letrasNegras">Puntuación del vendedor</p>
                <div class="cant">
                <p class="cantidad">Cantidad: <label for=""></label>
                <input class='inputNumber' type="number" name="cantidad" id="cantidad" min="0" max="99" required>
                </p>
                </div>
                <a href="" class="botonComprar">COMPRAR</a>
                <!-- TERCER COLUMNA -->
            </div>
	    </main>
	</div>

</body>

</html>
