/* ACA EMPIEZA EL CODIGO DE LOS SLIDES */
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
img{
    max-width: 100%;
    width:100%;
    height: 30vh;
    object-fit: cover;
    z-index: -1;
}
.container-all{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}
@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
/* ACA TERMINA EL CODIGO DE LOS SLIDES */
/* ACA EMPIEZAN LOS PASOS */
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 0.75em;
    text-align: center;
}
.pasos{
    display: flex;
    float: wrap;
    justify-content: space-around;
}
.paso{
    float: left;
    width:30%;
    padding: 1.66%;
}
.img-pasos{
    width:100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 3%;
}
/* ACA TERMINAN LOS PASOS */


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Variables */
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}

/* ACA EMPIEZAN LAS CARDS */
/* Products */
.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    border: 2px solid var(--gray);
  }
  .product-box a {
    display: block;
  }
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .product-box_data h2 {
    font-size: 2em;
    font-weight: 300;
    padding: 5px;
    margin: 0;
  }
  .product-box_data span {
    font-size: 1em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .product-box:hover p{
    height: 40px;
    margin-top: 15px;
  }
  .product-box:hover i{
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }
/* ACA TERIMNAN LAS CARDS */

@media(min-width:768px){
    /* ACA EMPIEZA EL SLIDER */
    img{
        height: 40vh;
    }
    /* ACA EMPIEZA EL SLIDER */
    /* ACA EMPIEZAN LOS PASOS */
    .img-pasos{
        height: 30vh;
    }
    h2{
        font-size: 2em;
        padding: 0.5em 0.5em;
        margin: 0px;
    }
    /* ACA TERMINAN LOS PASOS */
}

@media(min-width:992px){
    /* ACA EMPIEZA EL SLIDER */
    img{
        height: 50vh;
    }
    /* ACA EMPIEZA EL SLIDER */
    /* ACA EMPIEZAN LOS PASOS */
    .img-pasos{
        height: 40vh;
    }
    h2{
        font-size: 2em;
        padding: 0.5em 0.5em;
        margin: 0px;
    }
    /* ACA TERMINAN LOS PASOS */
}