<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/addProductHead.ejs')%>
  </head>
  
  <body>

    <%- include('partials/header.ejs')%>

    
    
    <section class="new-product col-12">
      <div class="product-detail col-sm-10 col-md-10 col-lg-10">
        <h2>NUEVO PRODUCTO</h2>
        <p>Ingrese el detalle del producto que desea agregar</p>
        <form
          id="newProduct"
          action="/products/add"
          method="POST"
          class="detail"
          enctype="multipart/form-data"
        >
          <input type="text" name="name" placeholder="Nombre del producto" />

          <select id="category">
            <option selected="true" disabled="disabled">Selecciona la Categoria</option>
            <option value="in-sale">Ofertas</option>
            <option value="visited">Ultimos Vistos</option>
            
          </select>
          <textarea
            name="description"
            id=""
            cols="30"
            rows="5"
            placeholder="Breve descripcion del producto"
          ></textarea>
          <input type="number" name="price" placeholder="Precio del Producto" />
          <input type="text" name="discount" placeholder="Descuento" />

          <div class="container col-12">
            <div class="form-group col-12">
              <div class="input-group-local col-6">
                <label>Subir Portada:</label>
                <input type="file" name="imgPortada" id="imgPortada" />
              </div>
              <div class="input-group-local col-6">
                <label>Galeria de fotos</label>

                <input
                  type="file"
                  name="img-products"
                  placeholder="Puede cargar hasta 8 fotos"
                  multiple
                  id="img-products"
                />
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="product-images col-sm-10 col-md-10 col-lg-10">
        <div class="caja-galeria">
          <h2>Imagenes del producto</h2>
          <p>Vista previa de las imagenes del producto</p>
          <h3>Portada del producto:</h3>
          <div class="portada"><img id="img-upload" /></div>

          <h3>Galeria de fotos:</h3>
          <div class="gallery"></div>
        </div>
      </div>
      <div class="btn-crear col-sm-11 col-md-12 col-lg-12">
        <button type="submit" form="newProduct" class="btn-new">
          CREAR NUEVO PRODUCTO
        </button>
      </div>
    </section>
  </body>
</html>
