<%- include('partials/head.ejs')%>
    </head>

    <body>
        <%- include('partials/header-logo.ejs')%>
            <%- include('partials/header-navbar.ejs')%>
                <section id="cartProducts" class="container col-12 p-0 mt-2">
                    <div id="cartProducts" class="" style="background-color: #e3f2fd;">
                        <ul>
                            <li class="cartProduct" class="">
                                <ul id="cartProdTop" class="nav justify-content-left align-items-center">
                                    <li class="nav-item col-3 col-lg-1 mt-1">
                                        <img src="/images/img-camara-nikon.jpg" class="img-fluid img-thumbnail ounded float-left" alt="Responsive image" alt="notFound" class="rounded-sm">
                                    </li>
                                    <li class="nav-link col-5 col-md-6 p-0 p-lg-10">
                                        <a href="#" class="text-dark font-weight-bold">Descripcion del producto</a>
                                    </li>
                                    <li class="nav-item  d-none d-lg-block col-3 text-center">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-secondary">+</button>
                                            <button type="button" class="btn bg-light"> # </button>
                                            <button type="button" class="btn btn-secondary">-</button>
                                        </div>
                                    </li>
                                    <li class="nav-item  col-4 col-md-3 col-lg-2 text-center pr-5">
                                        <a href="" class="text-dark font-weight-bolder">$ Precio</a>
                                        <div class="btn-group d-lg-none" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-secondary">+</button>
                                            <button type="button" class="btn bg-light"> # </button>
                                            <button type="button" class="btn btn-secondary">-</button>
                                        </div>
                                    </li>
                                </ul>
                                <ul id="cartProdNav" class="nav d-none d-lg-flex justify-content-left ml-5">
                                    <li class="nav-item col-2">
                                        <a class="nav-link text-secondary p-0" href="#">Detalle</a>
                                    </li>
                                    <li class="nav-item col-4">
                                        <a class="nav-link text-secondary p-0" href="#">Productos del vendedor</a>
                                    </li>
                                    <li class="nav-item  col-4">
                                        <a class="nav-link text-secondary p-0" href="#">Guardar para después</a>
                                    </li>
                                    <li class="nav-item  col-2">
                                        <a class="nav-link text-secondary p-0" href="#">Eliminar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
                <section id="main" class="container d-inline">
                    <div id="cartLeft" class="container col-12 col-lg-6 justify-content-end">
                        <p></p>
                    </div>
                    <div id="cartRight" class="col-12 col-md-6 col-lg-4 ml-auto">
                        <div class="container-fluid">
                            <ul class="d-inline-block">
                                <li class="container d-inline-flex">
                                    <p class="col-6">Subtotal</p>
                                    <p class="col-6 text-right text-dark font-weight-bolder">$ Importe</p>
                                </li>
                                <li class="container d-inline-flex">
                                    <p class="col-6">Impuestos</p>
                                    <p class="col-6 text-right text-dark font-weight-bolder">$ Importe</p>
                                </li>
                                <li class="container d-inline-flex">
                                    <p class="col-6 text-dark font-weight-bolder">Total</p>
                                    <p class="col-6 text-right text-dark font-weight-bolder">$ Importe</p>
                                </li>
                            </ul>
                        </div>
                        <div id="cartButtons" class="container p-4 align-items-center">
                            <ul class="container">
                                <li class="d-inline-block">
                                    <button type="button" class="btn btn-secondary">+ Envios</button>
                                    <button type="button" class="btn btn-secondary">+ Continuar Compra</button>
                                </li>
                                <li class="d-inline">
                                    <button type="button" class="btn btn-dark btn-block mt-2">continuar compra</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>



    </body>

    </html>