<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4fa9f35e5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Ingreso de usuarios</title>
</head>
<body>
    <div class="login-box">
        <div class="lb-logo">
            <img src="../images/logo-elMercado.png" alt="logo-El-Mercado">
        </div>
        <div class="separador"></div>
        <div class="lb-header">
            <a href="#"  class="active"  id="login-box-link">INGRESAR</a>
            <a href="/register" id="register-box-link">REGISTRARSE</a>
          </div>
        <div class="social-login">
            <a href="#">
              <i class="fa fa-facebook fa-lg"></i>
              Login in with facebook
            </a>
            <a href="#">
              <i class="fa fa-google-plus fa-lg"></i>
              log in with Google
            </a>
          </div>
          <class class="form-box">
          <% if (typeof errors != "undefined" ) { %>
           
            <ul>
                <% errors.forEach(function(elemento){ %>
                  <li>
                    <%= elemento.msg %>
                  </li>
                <% }) %>
            </ul>
          <% } %>
          
        <form action="/login" class="lb-form" method="POST">
        <input type="text" name="email" placeholder="Ingres치 tu Correo">
        <input type="password" name="password" placeholder="Ingres치 tu contrase침a">
        <input type="checkbox" name="recordame"> <!-- acomodar el bot칩n de recordame -->
        <button class="btn-registro"> <a href="/check"> INGRESAR </a></button>

        </form>
    </div>
    </div>
</body>
</html>