  
    <!DOCTYPE html>
    <html lang="en">

    
        <body>
            <h1>HOLA</h1>

            <ul>
                <% for (producto of products) { %>
                    <li>
                        
                            <%= producto.category_id %>
                        
                    </li>
                <% } %>
            </ul>

        </body>

     </html>