<form action="/search" method="GET" class="header-search-form">
    <input type="text" name="search" placeholder="Buscar en El Mercado ....">
    <button type="submit"><i class="flaticon-search"></i></button>
</form>