<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <a href="/"><img src="/images/logo-footer.png" alt=""></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Sobre nosotros</h2>
                    <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
                    <img src="/images/cards.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Mapa del Sitio</h2>
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Segui tu pedido</a></li>
                        <li><a href="">Devoluciones</a></li>
                        <li><a href="">Staff</a></li>
                        <li><a href="">Envio</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Socios</a></li>
                        <li><a href="">Clientes</a></li>
                        <li><a href="">Soporte</a></li>
                        <li><a href="">Terminos</a></li>
                        <li><a href="">Prensa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>BLOG</h2>
                    <div class="fw-latest-post-widget">
                        <div class="lp-item">
                            <div class="lp-thumb set-bg" data-setbg="/images/logo-dh.png"></div>
                            <div class="lp-content">
                                <h6>Primeros Pasos</h6>
                                <span>Abr 21, 2020</span>
                                <a href="#" class="readmore">Leer mas</a>
                            </div>
                        </div>
                        <div class="lp-item">
                            <div class="lp-thumb set-bg" data-setbg="/images/logo-dh.png"></div>
                            <div class="lp-content">
                                <h6>Segundo Sprint</h6>
                                <span>Mayo 21, 2020</span>
                                <a href="#" class="readmore">Leer mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h2>Contacto</h2>
                    <div class="con-info">
                        <span>C.</span>
                        <p>El Mercado </p>
                    </div>
                    <div class="con-info">
                        <span>B.</span>
                        <p>1984 - George Orwell </p>
                    </div>
                    <div class="con-info">
                        <span>T.</span>
                        <p>+54 011 7953 32453</p>
                    </div>
                    <div class="con-info">
                        <span>E.</span>
                        <p>contacto@elmercado.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
                <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
            </div>



        </div>
    </div>
</section>

<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/main.js"></script>