<div class="cabecera2">
    <form action="" method="GET">
        <input type="search" name="buscador" placeholder="Ingrese su búsqueda">
    </form>
</div>

<div class="icono1">
    <a class="iconos" href="notificaciones"><i class="fas fa-bell"></i></a>
</div>

<div class="menuMF">
    <input type="checkbox" id='btn-menu'>
    <label for="btn-menu"><i class="fas fa-bars"></i></label>
    <nav class="menu">
        <ul>
            <li><a href='/products'>Comprar</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Mapa</a></li>
            <li><a href='#'>Favoritos</a></li>
            <li><a href='#'>Login</a></li>
        </ul>
    </nav>
</div>

<div class="icono2">
    <a class="iconos" href="/cart"><i class="fas fa-shopping-cart"></i></a>
</div>

</header>