<ul class="main-menu">
    <li><a href="/">Inicio</a></li>
    <li><a href="/products">Comprar</a>
        <ul class="sub-menu">
            <li><a href="#">Ropa</a></li>
            <li><a href="#">Tecnologia</a></li>
            <li><a href="#">Decoracion</a></li>
            <li><a href="#">Congelados</a></li>
            <li><a href="#">Almacen</a></li>
        </ul>
    </li>
    <li><a href="/products/create">Vender</a></li>
    <li><a href="#">Ofertas
        <span class="new">Hoy</span>
    </a></li>
    
    <li><a href="#">El Mercado</a>
        <ul class="sub-menu">
            <li><a href="/products/2">Product Page</a></li>
            <li><a href="/products/2/edit">Edit Product</a></li>
            <li><a href="/products/create">Create Product</a></li>
            <li><a href="/cart">Cart Page</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Profile Page</a></li>
            <li><a href="/profile/edit/:id">Edit Profile Page</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </li>
    <li><a href="/blog">Blog
        <span class="new">New</span></a></li>
</ul>