<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="images/slide/01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Exclusivo</span>
                        <h2>Vinos Exclusivos</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">DESCUBRI</a>
                        <a href="#" class="site-btn sb-white">VER MAS</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>desde</span>
                    <h2>$299</h2>
                    <p>COMPRAR AHORA</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="images/slide/02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Novedades</span>
                        <h2>productos naturales</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">DESCUBRI</a>
                        <a href="#" class="site-btn sb-white">VER MAS</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>desde</span>
                    <h2>$190</h2>
                    <p>COMPRAR AHORA</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="images/slide/03.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Novedades</span>
                        <h2>HOGAR + DECO</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">DESCUBRI</a>
                        <a href="#" class="site-btn sb-white">VER MAS</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>desde</span>
                    <h2>$290</h2>
                    <p>COMRPAR AHORA</p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="images/slide/04.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>Ofertas</span>
                        <h2>TECNOLOGIA</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <a href="#" class="site-btn sb-line">DISCOVER</a>
                        <a href="#" class="site-btn sb-white">VER MAS</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>desde</span>
                    <h2>$999</h2>
                    <p>COMPRAR AHORA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>